<h1>Create New Landmark</h1>

<form action="/landmarks" method="POST">
  <p>Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
  <p><input type="submit" value="Create New Landmark"></p>
</form>
